
<div class="container">
    <h3>User Details</h3>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{ user.age }}</td>
            </tr>
        </tbody>
    </table>
    <a [routerLink]="['..', 'update', user.id]" class="btn btn-primary btn-sm">
        Update
    </a>
    <a class="btn btn-danger btn-sm"
        (click)="deleteUser()">
        Delete
    </a>
</div>